* {
	box-sizing: border-box;
}

.projects {
  background-color: #efefef;
  height: 0;
	flex: 1;	
}

.projects-article {
  width: 100%;
  
	overflow-y: scroll; /* Making article scroll not every thing else */

	/* Left padding keeps the content centered */
	padding-left:  calc(((100% - var(--content-width))/2) - var(--projects-menu-width));
}

.content {
	background-color: #ffffff;

  width: 100%;
  max-width: var(--content-width);
	padding-left: 40px;
	padding-right: 40px;
}

@media (max-width: 1200px) {

  .projects-article {
    padding-left: calc(((100% - var(--content-width))/2));
  }
  
  .content {
    width: 100%;
  }
}

