
#my-image {
    width: 200px;
    float: left;
    margin-right: 20px;

}

@media screen and (max-width:520px) {
    #my-image {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      

}
