:root {
  --content-width: 1020px;
}

* {
	box-sizing: border-box;
}

@font-face {
  font-family: DejaVuSerif;
  src: url(/assets/fonts/DejaVuSerif.ttf);
}

@font-face {
  font-family: DejaVuSerif-Bold;
  src: url(/assets/fonts/DejaVuSerif-Bold.ttf);
}

/*******************************************/
/* Content Font Style */
/*******************************************/

  .background-container {
    height: 100vh;
    width: 100%; 
  }

  .base-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    height: 0; 
    flex: 1;
  }

  .general-content {
    overflow-y: scroll;
  }
 
  #home .general-content::-webkit-scrollbar {
    display: none;
  }

  #home .card-landscape {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  
  /* Quick column defining */
  .flex-column {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  /* Quick row defining */
  .flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  

  .general-article {
    width: 100%;
    
    overflow-y: scroll; /* Making article scroll not every thing else */
    background-color: #efefef;;

    /* Left padding keeps the content centered */
    padding-left:  calc(((100% - var(--content-width))/2) - var(--projects-menu-width));
  }

  .general-article .content {
    background-color: #ffffff;

    width: 100%;
    max-width: var(--content-width);
    padding-left: 40px;
    padding-right: 40px;
  }


/*******************************************/
/* Content Font Style */
/*******************************************/

  .content :is(h1, h2, h3, h4, h5, h6) {
    font-weight: 400;
    line-height: 1.1;
    font-family: DejaVuSerif-Bold;
  }
  .content p, .content li {
    color: #3d3d3d;
    font-size: 18px;
    font-family: DejaVuSerif;
    line-height: 1.5;
  }

  .content h1 {
    color: rgb(16, 58, 103);
    margin: 28.6px 0;
    font-size: 40px;
  }
  
  postdate {
    font-size: 16px;
    font-family: DejaVuSerif-Bold;
    margin-bottom: 16px;
    text-align: left;
    color: #323223;
  }

/*******************************************/
  
  .spacing-div {
    height: 40px;
  }

@media (max-width: 1200px) {
	.base-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    height: 0; 
    flex: 1;
  }
  
  
  .projects-container {
    justify-content: center;
		padding: 0;
	}

  .general-article {
    padding-left: calc(((100% - var(--content-width))/2));

    height: 0; 
    flex: 1;
  }
}