
.general-content {
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

p {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
}

h1 {
  font-size: 40px;
}

.spacing-div {
  height: 40px;
}


@font-face {
    font-family: DejaVuSerif;
    src: url(/assets/fonts/DejaVuSerif.ttf);
  }

@font-face {
    font-family: DejaVuSerif-Bold;
    src: url(/assets/fonts/DejaVuSerif-Bold.ttf);
}

.content :is(h1, h2, h3, h4, h5, h6) {
	font-weight: 400;
	line-height: 1.1;
	font-family: DejaVuSerif-Bold;
}

.content h1 {
	color: rgb(16, 58, 103);
	margin: 28.6px 0;
	font-size: 40px;
}